
@{
    ViewData["Title"] = "VerifyEmail";
}

<main>
    <div class="container" >
        <div class="alert alert-success" role="alert">
            Please, check mail for register confirmation!
        </div>
    </div>
</main>

