@model BannerCreateVM
@{
    ViewData["Title"] = "Create";
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data" asp-action="Create">
                    <span class="text-danger">@ViewBag.error</span>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" class="form-control" asp-for="Photo">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox"  asp-for="IsLarge">
                        <label>Large or small</label>
                    </div>
                    <div class="form-group">
                        <label>SubTitle</label>
                        <input type="text" class="form-control" asp-for="SubTitle">
                        <span class="text-danger" asp-validation-for="SubTitle"></span>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <textarea rows="3" class="form-control" id="banner" asp-for="Title"></textarea>
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <button type="submit" class="btn btn-success"><i class="feather mr-2 icon-check-circle"></i>Submit</button>
                    <a asp-action="Index" class="btn btn-danger"><i class="feather mr-2 icon-check-circle"></i>Cancel</a>
                </form>
            </div>
        </div>

    </div>
</section>
@section Script{
    <script src="~/admin/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("banner")
    </script>
}
