@model IEnumerable<CartDetailVM>

    @{
        decimal grandTotal = 0;
    }
@if(Model is not null)
{
    @foreach (var item in Model)
    {
        <li class="minicart-product">
            <a class="product-item_remove" href="#">
                <i class="pe-7s-close"
                   data-tippy="Remove"
                   data-tippy-inertia="true"
                   data-tippy-animation="shift-away"
                   data-tippy-delay="50"
                   data-tippy-arrow="true"
                   data-tippy-theme="sharpborder"></i>
            </a>
            <a asp-controller="Shop" asp-action="SingleProduct" asp-route-id="@item.Id"
               class="product-item_img">
                <img class="img-full"
                     src="~/assets/images/website-images/@item.Image"
                     alt="Product Image" />
            </a>
            <div class="product-item_content">
                <a class="product-item_title"
           asp-controller="Shop" asp-action="SingleProduct" asp-route-id="@item.Id">@item.Name</a>
                <span class="product-item_quantity">@item.Count x $@item.Price</span>
            </div>
        </li>
        grandTotal += Model.FirstOrDefault().Total;
    }
    <div class="minicart-item_total">
        <span>Subtotal</span>
        <span class="ammount">$@grandTotal</span>
    </div>
}


@section Scripts{
    <script src="~/assets/js/index.js"></script>
 }