@model IEnumerable<CartDetailVM>

<div class="offcanvas-body">
    @if (Model is not null)
    {
        <div class="minicart-content">
            <div class="minicart-heading">
                <h4 class="mb-0">Shopping Cart</h4>
                <a href="#" class="button-close">
                    <i class="pe-7s-close"
                       data-tippy="Close"
                       data-tippy-inertia="true"
                       data-tippy-animation="shift-away"
                       data-tippy-delay="50"
                       data-tippy-arrow="true"
                       data-tippy-theme="sharpborder"></i>
                </a>
            </div>
            <ul class="minicart-list">

                @foreach (var item in Model)
                {
                    <li class="minicart-product">
                        <a class="product-item_remove" href="#">
                            <i class="pe-7s-close"
                               data-tippy="Remove"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder"></i>
                        </a>
                        <a href="single-product-variable.html"
                           class="product-item_img">
                            <img class="img-full"
                                 src="~/assets/images/website-images/@item.Image"
                                 alt="Product Image" />
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title"
                               href="single-product-variable.html">@item.Name</a>
                            <span class="product-item_quantity">@item.Count x $@item.Price</span>
                        </div>
                    </li>

                }
            </ul>
        </div>
        <div class="minicart-item_total">
            <span>Subtotal</span>

            <span class="ammount">$@Model.FirstOrDefault().Total</span>

        </div>
        <div class="group-btn_wrap d-grid gap-2">
            <a asp-controller="Cart" asp-action="Index" class="btn btn-dark">View Cart</a>
            <a href="checkout.html" class="btn btn-dark">Checkout</a>
        </div>
    }
   
    @*<div class="alert alert-secondary empty-msg d-block" role="alert">
        There are no products in the cart!
    </div>*@

</div>

@section Scripts{
    <script src="~/assets/js/index.js"></script>
            }