@model AdvertCreateVM
@{
    ViewData["Title"] = "Create";
}

<section class="pcoded-main-container">
    <div class="pcoded-content">

        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data" asp-action="Create">
                    <span class="text-danger">@ViewBag.error</span>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" class="form-control" asp-for="Photo">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" asp-for="Title">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="3" asp-for="ShortDesc"></textarea>
                        <span class="text-danger" asp-validation-for="ShortDesc"></span>
                    </div>
                    <button type="submit" class="btn btn-success"><i class="feather mr-2 icon-check-circle"></i>Submit</button>
                    <a asp-action="Index" class="btn btn-danger"><i class="feather mr-2 icon-check-circle"></i>Cancel</a>

                </form>
            </div>
        </div>

    </div>
</section>
