@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
@section Css{
    <link rel="stylesheet" href="~/admin/assets/css/index.css">
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a asp-action="Create" data-toggle="tooltip" data-original-title="Create" class="create"><i class="fa-solid fa-square-plus fa-lg" style="color: #105ada;"></i></a>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            @if (Model.Count() > 0)
                            {
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var category in Model)
                                        {
                                            <tr>
                                                <td>@category.Name</td>
                                                <td data-id="@category.Id">
                                                    <a asp-action="Edit" asp-route-id="@category.Id" data-toggle="tooltip" data-original-title="Edit" class="edit">
                                                        <i class="fa-solid fa-pen-to-square" style="color: #2bca16;"></i>
                                                    </a>
                                                    <a class="delete-category" data-toggle="tooltip" data-original-title="Remove">
                                                        <i class="fa-solid fa-trash" style="color: #c81921;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Script{
    <script src="~/admin/assets/js/index.js"></script>
}