@model LoginVM
@{
    ViewData["Title"] = "Default";
}

<div class="col-lg-6">
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="Login">
        <div class="login-form">
            <h4 class="login-title">Login</h4>
            <div class="row">
                <div class="col-lg-12">
                    <label>Email Address*</label>
                    <input placeholder="Email Address" asp-for="Email"/>
                </div>
                <div class="col-lg-12">
                    <label>Password</label>
                    <input  placeholder="Password" asp-for="Password"/>
                </div>
                <div class="col-md-8">
                    <div class="check-box">
                        <input type="checkbox" id="remember_me" asp-for="IsRemember"/>
                        <label for="remember_me">Remember me</label>
                    </div>
                </div>
                <div class="col-md-4 pt-1 mt-md-0">
                    <div class="forgotton-password_info">
                        <a asp-controller="Account" asp-action="ForgotPassword"> Forgotten pasward?</a>
                    </div>
                </div>
                <div class="col-lg-12 pt-5">
                    <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>